.left-panel {
    padding-top: 1rem;
    width: 250px;
    transition: width 1s;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "Cutive Mono", monospace;
    background-color: #163838;
  
    a,
    img {
      opacity: 1;
      transition: opacity 1s ease-in-out 0.5s;
    }
  
    &.collapsed {
      a,
      img {
        opacity: 0;
        transition: opacity 0.1s ease-in-out 0.1s;
      }
    }
  
    a {
      color: white;
      text-decoration: none;
      font-size: 1.5rem;
      padding: 1rem;
  
      &:hover {
        background-color: #2b5554;
      }
    }
  
    img {
      width: 100px;
      margin-bottom: 1rem;
      align-self: center;
    }
  
    &.collapsed {
      width: 0;
      transition: width 1s;
    }
    .expand-btn {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      svg {
        height: 20px;
        width: 20px;
        fill: white;
      }
      position: absolute;
      right: -25px;
      top: 20px;
      background-color: #163838;
      color: white;
      border-radius: 6px;
      padding: 0.5rem 0.5rem;
    
      &:hover {
        cursor: pointer;
      }
    }
  }