.mission-list {
    display: flex; 
    flex-wrap: wrap;
}

a.mission-card {
    color: white;
    text-decoration: none;
}

.mission-card {
    
    background-color: #163838;
    padding: .5rem;
    margin: .5rem;
    cursor: pointer;

    &:hover {
        color: pink;
    }

}